[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Isaac Turner
	email = spacey_sooty@outlook.com
	signingkey = 8BBFA093F32C44BA
[core]
	editor = nvim
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[alias]
    ac = commit -am
    commit = commit
[pull]
	rebase = true
