[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Isaac Turner
	email = spacey_sooty@outlook.com
	signingkey = A106C56983327108A8FC49BED60B565936A9B3A8
[core]
	editor = nvim
[init]
	defaultBranch = master
[commit]
    # gpgsign = true
[tag]
    # gpgsign = true
[alias]
    ac = commit -am
[pull]
	rebase = true
