[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Isaac Turner
	email = spacey_sooty@outlook.com
	signingkey = 1CC20B84B0B48385
[core]
	editor = nvim
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[alias]
    ac = commit -S -am
    commit = commit -S
